<html>
	<head>
		<title>blank page</title>
	</head>
	<body>
		<div>this is top</div>
		<div>
			$screen_placeholder
		</div>
		<div>${control.setTemplate('bottom.vm')}</div>
	</body>
</html>